
<!-- <p>{{ title }}</p> -->

<!--This is for activity 6:-->
<div class="container">
    <div class="row">
        <h2 id="details">Device Details View</h2><br><br><br><br>

      <div class="col" *ngFor="let device of deviceDetails">
            <!--This is for activity number 5-->
        <app-device-details [deviceDetail]="device"></app-device-details>
      </div>

      <div class="col">
          <h4 class="text">Add a Device</h4>
       <app-template-form (deviceDetails)="addDevice($event)"></app-template-form>
      </div>
    </div>
  </div>

<!-- 
<span>Count: {{ number }} </span>
<br><br>
<button (click)="addEvent()">Add Count</button> <br>
<button (click)="subEvent()">Sub Count</button> <br>
<div  *ngIf="number > 5">
<app-second></app-second> 
</div>-->


<!-- 
<app-first (firstEvent)="appEvent($event)" ></app-first>
<app-second [secondMessage]="appMessage"></app-second> -->


<!-- <app-third (thirdEvent)="appEvent($event)"></app-third>
<app-fourth></app-fourth>
<router-outlet></router-outlet> -->

<!-- <div *ngFor="let message of appMessageArray">
<app-first [firstMessage]="message"></app-first>
</div>

<div *ngIf="showComponent">
    <app-second></app-second>
</div>

<button (click)="showHide()">Show</button> -->
