

<!-- <div class="para">
<p>{{ title }}</p>
</div> -->

<!--This is for activity 6:-->
<!-- <h2 id="details">Device Details View</h2> -->

<!--This is for activity 7: Reactive Form-->
 <!-- <div class="container" *ngIf="!showUpdate">
    <div class="row">
      <div class="col device" *ngFor="let device of deviceDetails">  -->
            <!--This is for activity number 5-->
            <!-- <div class="card" style="width: 21rem;">
              <div class="card-body">
                <app-device-details
                 [deviceDetail]="device"
                (updateDetails)="updateDevice($event,device.id)"      
                >  
                </app-device-details>
              </div>
            </div>
      </div>
      <br> -->
      <!-- <div class="col" >
          <h4 class="text">Add a Device</h4>
       <app-template-form (deviceDetails)="addDevice($event)"></app-template-form>
      </div> -->
<!-- </div>
</div> 

<div class="container reactive" *ngIf="showUpdate">
  <h4>Update Device Info</h4>
  <div class="card" style="width: 21rem;">
    <div class="card-body">
      <app-reactive-form 
      [device]="selectedDevice"
      (update)="updateDisplay($event)"
      ></app-reactive-form>
    </div>
  </div>
</div> -->

<!-- <div class="right">
  <h4 class="text">Add a Device</h4>
  <app-template-form (deviceDetails)="addDevice($event)"></app-template-form>
</div> -->




<!-- 
<span>Count: {{ number }} </span>
<br><br>
<button (click)="addEvent()">Add Count</button> <br>
<button (click)="subEvent()">Sub Count</button> <br>
<div  *ngIf="number > 5">
<app-second></app-second> 
</div>-->


<!-- 
<app-first (firstEvent)="appEvent($event)" ></app-first>
<app-second [secondMessage]="appMessage"></app-second> -->


<!-- <app-third (thirdEvent)="appEvent($event)"></app-third>
<app-fourth></app-fourth>
<router-outlet></router-outlet> -->

<!-- <div *ngFor="let message of appMessageArray">
<app-first [firstMessage]="message"></app-first>
</div>

<div *ngIf="showComponent">
    <app-second></app-second>
</div>

<button (click)="showHide()">Show</button> -->

<router-outlet></router-outlet>